.dashboard-layout {
  display: flex;
  height: calc(100vh - 60px); /* Ajuste conforme a altura do header */
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f8f9fa;
}
