<header class="app-header">
  <div class="logo">

    <app-logo></app-logo>
  </div>
  <nav class="nav-actions">
    <button class="btn-icon" (click)="toggleTheme()">
      <!-- Use o ícone de lua/sol da sua biblioteca (ex: Bootstrap Icons) -->
      <i class="bi bi-moon"></i>
    </button>
    @if (btnLogin) {
      <button routerLink="/login" class="btn">Entrar</button>
    }
    @if (btnRegister) {
      <button routerLink="/register" class="btn btn-primary">Cadastrar</button>
    }
  </nav>
</header>
